.background {
	-fx-background-color: #1d1d1d;
}
.texto-titulo {
	-fx-font-family: "Times New Roman";
}
.label {
	-fx-font-size: 13pt;
	-fx-font-family: "Arial Black";
	-fx-font-style:italic;
	-fx-font-weight:bold;
	-fx-text-fill:rgb(255,255,255);
}
.label-bright {
	-fx-font-size: 28pt;
	-fx-font-family: "Arial Black";
	-fx-text-fill: white;
	-fx-opacity: 1;
	-fx-font-style: italic;
}
.button {
	-fx-text-fill: white;
	-fx-background-color: #1d1d1d;
	-fx-border-radius:20;
	-fx-background-radius:20;
	-fx-padding:5;
	-fx-opacity: 0.7;
}
.button:focused {
	-fx-opacity: 1.0;
}
.text-field {
	-fx-border-radius:20;
	-fx-background-radius:20;
}
.tab-content-area {
	-fx-background-color:rgb(127,127,127);
	-fx-background-radius:20;
}
.tab-pane *.tab-header-background {
	-fx-opacity:0.0;
}
.tab-inicio {
	-fx-padding:25 0 71 0;
}
.tab-conta {
	-fx-padding:48 -39;
}
.tab-ganhos {
	-fx-padding:25 -7 71 -7;
}
.tab-despesas {
	-fx-padding:30 -14 66 -14;
}
.tab-label {
	-fx-rotate: 90;
}
.tab{
	-fx-background-radius: 5 5 10 10; 
}
.tab:selected {
	-fx-background-color:linear-gradient(to bottom, derive(grey,-02%), derive(grey,65%) 12%, derive(grey,23%) 88%, derive(grey,0%) 99%, -fx-box-border);
}
.menu-item .label {
	-fx-text-fill:black ;
}
.tile-pane {
	-fx-background-color:linear-gradient(to bottom, derive(grey,-02%), derive(grey,65%) 12%, derive(grey,23%) 88%, derive(black,50%) 99%, -fx-box-border);
	-fx-background-radius:20;
	-fx-border-radius: 20;
	-fx-border-color:rgb(0,0,0)
}
.matriz-label {
	-fx-font-size: 28pt;
	-fx-font-family: "System";
	-fx-font-style:italic;
	-fx-font-weight:bold;
	-fx-text-fill:red ;
}
.list-view {
	-fx-background-color:linear-gradient(to bottom, derive(grey,-02%), derive(grey,65%) 12%, derive(grey,23%) 88%, derive(black,50%) 99%, -fx-box-border);
	-fx-background-radius:20;
	-fx-border-radius: 20;
	-fx-border-color:rgb(0,0,0)
}
.list-cell {
	-fx-opacity:0.0;
}
.table-view {
	-fx-background-color:rgb(26,26,26);
	-fx-background-radius:20;
	-fx-border-radius: 20;
}
.table-view .corner {
	-fx-background-color:black ;
}
.choice-box {
	-fx-background-color: linear-gradient(to bottom, derive(grey,-02%), derive(black,65%) 12%, derive(grey,23%) 88%, derive(black,50%) 99%, -fx-box-border);
	-fx-background-radius:20;
}
.text-input {
	-fx-text-fill:white ;
}
.text-field {
	-fx-background-color: linear-gradient(to bottom, derive(grey,-02%), derive(black,65%) 12%, derive(grey,23%) 88%, derive(black,50%) 99%, -fx-box-border);
	-fx-background-radius:20;
}
.tool-bar {
	-fx-background-radius: 0 20 20 0;
}
.botao-remover {
	-fx-background-color: rgb(255,0,0);
}
.label-detalhes {
	-fx-text-fill: black;
}
.split-conta {
	-fx-background-color: rgb(125,125,125);
	-fx-background-radius: 0 0 20 20;
}
.detalhes-painel {
	-fx-background-color:rgb(26,26,26);
	-fx-background-radius:0 0 20 20;
	-fx-border-radius: 0 0 20 20;
}
.background-window {
	-fx-background-color: linear-gradient(to bottom, derive(grey,-02%), derive(grey,65%) 12%, derive(grey,23%) 88%, derive(black,50%) 99%, -fx-box-border);
}
.tab-content {
	-fx-background-color:rgb(127,127,127);
	-fx-background-radius:20;
}
.tab0{
	-fx-background-radius: 5 5 10 10; 
}
.tab0:selected {
	-fx-background-color:linear-gradient(to bottom, derive(grey,-02%), derive(grey,65%) 12%, derive(grey,23%) 88%, derive(grey,0%) 99%, -fx-box-border);
}
.cadastro-pane {
	-fx-background-color:linear-gradient(to bottom, derive(grey,-02%), derive(grey,65%) 12%, derive(grey,23%) 88%, derive(black,50%) 99%, -fx-box-border);
	-fx-background-radius:20;
	-fx-border-radius: 20;
	-fx-border-color:rgb(0,0,0)
}


